.Card__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 16em;
  background-color: #00689a;
  border: 1px solid #5d5d5d;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  color: #dadada;
}