.Card__container {
  overflow: hidden;
  padding: 0 !important;
}

.Card__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 16em;
  background-color: #00689a;
  color: #dadada;
}

.Card__content {
  font-size: 50px;
  position: relative;
  width: 1em;
  text-align: center;
}

.Card__participant-name {
  text-align: center;
  color: gray;
}