.JoinRoom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.JoinRoom--username {
  font-size: 2em;
  margin-bottom: .5em;
}

.JoinRoom--username-label {
  font-size: .5em;
  color: var(--light-gray);
}

.JoinRoom--username-input {
  font-size: 1em;
  text-align: center;
}

.JoinRoom--room-input {
  margin-bottom: 2em;
  width: 20em;
  border-bottom: 1px solid #ccc;
}

.JoinRoom--room-input.transparent input {
  text-align: center;
}

.JoinRoom--join-button {
  font-size: 2em;
  border: none;
  background-color: #7ecaff;
  cursor: pointer;

  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}